<div class="well">
    <span id="title">Grupo 1</span> <i class="material-icons">add_circle_outline</i><!--<i class="material-icons">add</i> <i class="material-icons">add_box</i> <i class="material-icons">add_circle</i>--> 
    <hr>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
</div>

<div class="well">
    <span id="title">Grupo 2</span> <i class="material-icons">add_circle_outline</i>
    <hr>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
        <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
</div>

<div class="well">
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
        <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
        <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/80x80&text=[img]" alt="...">
        </a>
    </div>
</div>