<div class="well">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="http://placehold.it/80x80&text=[img]" alt="..." />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Altair Ibn-La'Ahad</h4>
            Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
            <br><br>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Responder</button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Compartilhar</button>
            </div>
            <br>
            2 Comentários
            <br>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/80x80&text=[img]" alt="..." />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Ezio Alditore</h4>
                    Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.

                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/80x80&text=[img]" alt="..." />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Edward Kenway</h4>
                    Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.

                </div>
            </div>
        </div>
    </div>
</div>
<div class="well">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="http://placehold.it/80x80&text=[img]" alt="..." />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Abdullah</h4>
            Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
            <br><br>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Responder</button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Compartilhar</button>
            </div>
        </div>
    </div>
</div>
<div class="well">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="http://placehold.it/80x80&text=[img]" alt="..." />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Arthur Dent</h4>
            Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
            <br><br>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Responder</button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Compartilhar</button>
            </div>
            <br>
            2 Comentários
            <br>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/80x80&text=[img]" alt="..." />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Marvin</h4>
                    Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.

                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/80x80&text=[img]" alt="..." />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Ford Perfect</h4>
                    Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.

                </div>
            </div>
        </div>
    </div>
</div>