<div class="well">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <a href="#">
                    <img src="http://placehold.it/80x80&text=[img]" alt="..." />
                </a>
            </div>
            <div class="col-sm-10">
                <h4 id="name">Altair Ibn-La'Ahad</h4>
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
                <br>
                <button type="button" class="btn btn-link">Responder</button>
                <button type="button" class="btn btn-link">Compartilhar</button>

                <div class="row">
                    <div class="col-sm-2">
                        <a href="#">
                            <img src="http://placehold.it/80x80&text=[img]" alt="..." />
                        </a>
                    </div>
                    <div class="col-sm-10">
                        <h4 id="name">Ezio Alditore</h4>
                        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <a href="#">
                            <img src="http://placehold.it/80x80&text=[img]" alt="..." />
                        </a>
                    </div>
                    <div class="col-sm-10">
                        <h4 id="name">Edward Kenway</h4>
                        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="well">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <a href="#">
                    <img src="http://placehold.it/80x80&text=[img]" alt="..." />
                </a>
            </div>
            <div class="col-sm-10">
                <h4 id="name">Abdullah</h4>
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
                <br>
                <button type="button" class="btn btn-link">Responder</button>
                <button type="button" class="btn btn-link">Compartilhar</button>
            </div>
        </div>
    </div>
</div>

<div class="well">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <a href="#">
                    <img src="http://placehold.it/80x80&text=[img]" alt="..." />
                </a>
            </div>
            <div class="col-sm-10">
                <h4 id="name">Arthur Dent</h4>
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
                <br>
                <button type="button" class="btn btn-link">Responder</button>
                <button type="button" class="btn btn-link">Compartilhar</button>

                <div class="row">
                    <div class="col-sm-2">
                        <a href="#">
                            <img src="http://placehold.it/80x80&text=[img]" alt="..." />
                        </a>
                    </div>
                    <div class="col-sm-10">
                        <h4 id="name">Marvin</h4>
                        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <a href="#">
                            <img src="http://placehold.it/80x80&text=[img]" alt="..." />
                        </a>
                    </div>
                    <div class="col-sm-10">
                        <h4 id="name">Ford Perfect</h4>
                        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
