<div class="row">
        <div class="panel panel-default">
            
            <div class="panel-heading">
                <h3 class="panel-title">GRUPO 1</h3>
            </div>

            <div class="panel-body">
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
            </div>

        </div>

        <div class="panel panel-default">
            
            <div class="panel-heading">
                <h3 class="panel-title">GRUPO 2</h3>
            </div>

            <div class="panel-body">
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
            </div>

        </div>

        <div class="panel panel-default">

            <div class="panel-body">
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/80x80&text=[img]" alt="...">
                    </a>
                </div>
            </div>
        </div>
    </div>