<div class="well">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="http://placehold.it/80x80&text=[img]" alt="..." />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Abdullah</h4>
            Pessoal, aí está meu próximo exercício. Assistam ao vídeo e depois respondam à questão!
            <br><br><br>
            <div class="panel panel-default">
                <div class="panel-heading">Aula 6 - Rotação de Curvas</div>
                <div class="panel-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8Cwa-ZRQ65s"></iframe>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">Responder</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">Compartilhar</button>
                    </div>
                </div>
            </div>
            3 Resoluções
        </div>
    </div>
</div>