
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#"><img src="http://placehold.it/140x100&text=[img]"></a>
                <b class="panel-title">Nome</b>
            </div>

            <div class="panel-body">
<ul> 
    <li class="section">
<h5 class="title"><a href="#">Materiais</a></h5>
    </li>

    <li class="section">
<h5 class="title"><a href="#">Portfolio</a></h5>
    </li>    

    <li class="section">
<h5 class="title"><a href="#">Notas</a></h5>
    </li>

    <li class="section">
<h5 class="title"><a href="#">Calendário</a></h5>
    </li>

    <li class="section">
<h5 class="title"><a href="#">Ferramentas</a></h5>
    </li>

    <li class="section">
<h5 class="title"><a href="#">Relatório de uso</a></h5>
    </li>
</ul>
    </div>
</div>
