<div class="container">
  <div [hidden]="submitted">
    <form [formGroup]="userForm"  *ngIf="active"  (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nome</label>

        <input type="text" id="name" class="form-control"
               formControlName="name" required >

        <div *ngIf="formErrors.name" class="alert alert-danger">
          {{ formErrors.name }}
        </div>
      </div>

      <div class="form-group">
        <label for="lastname">Sobrenome</label>
        <input type="text" id="lastname" class="form-control"
            formControlName="lastname"  >
      </div>
      
      <div class="form-group">
        <label for="login">Login</label>
        <input type="text" id="login" class="form-control"
            formControlName="login"  >
      </div>

      <div class="form-group">
        <label for="email">Email</label>

        <input type="text" id="email" class="form-control"
               formControlName="email" required >

        <div *ngIf="formErrors.email" class="alert alert-danger">
          {{ formErrors.email }}
        </div>
      </div>

      <button type="submit" class="btn btn-default"
             [disabled]="!userForm.valid">Submit</button>
      <button type="button" class="btn btn-default"
             (click)="newUser()">Novo Usuario</button>
    </form>
  </div>

  <user-submitted [user]="user" [(submitted)]="submitted"></user-submitted>
</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->